body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
}
 
.error-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
.emoji {
    width: 50px; /* Adjust the size of the emoji */
    height: 50px; /* Adjust the size of the emoji */
    margin-bottom: 10px; /* Add some space below the emoji */
}
 
.error-container h3 {
    color: red;
    font-size: 36px;
    margin-bottom: 10px;
}
 
.error-container p {
    color: #333;
    font-size: 18px;
    margin-top: 0; /* Ensure no extra margin at the top */
}