body {
  background-color: #343a40;
}

h2 {
  margin-bottom: 20px;
}

.bg-dark {
  background-color: #212529 !important;
}

.form-control {
  background-color: #495057;
  color: #fff;
}

.form-control:focus {
  background-color: #495057;
  color: #fff;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.text-white {
  color: #fff !important;
}